@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer-social-icons {
    width: 30%;
    display: block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}



.social-icons li {
    vertical-align: top;
    display: inline-block;

}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #202020;
}

.fa-facebook:hover {
    background-color: #E49F37;
}

.fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #202020;
}

.fa-twitter:hover {
    background-color: #E49F37;
}

.fa-youtube {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #202020;
}

.fa-youtube:hover {
    background-color: #E49F37;
}

.fa-linkedin {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #202020;
}

.fa-linkedin:hover {
    background-color: #E49F37;
}
