* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #E49F37;
}

/* --------------- HOME ------------------ */

.start_page {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: url(img/orange2.png);
    background-size: cover;
}

.text h1 {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 6vw;
    color: #252525;
    text-align: center;
    margin-right: 40%;
    padding-top: 15%;
}


.text h3 {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 3.2vw;
    color: #252525;
    text-align: center;
    margin-right: 25%;
    padding-bottom: 29.5%;
}


/* --------------- ABOUT ----------------- */

.about {
    width: 100%;
    background-color: #303030;
    padding-bottom: 5%;
}


.about .content {
    position: relative;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;


}

.about h1 {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 2%;
}

.about p {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    line-height: 220%;

}


/* --------------- PROJECTS ----------------- */

.projects {
    height: 150%;
    background-color: #252525;
}

.projects h1 {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 2%;
}

/* --------------- CONTACT ----------------- */

.contact {
    height: 40%;
    background-color: #202020;
    padding-bottom: 2%;
}

.contact h1 {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 2%;
}

.contact p {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    line-height: 220%;
    padding-top: 1%
}

/* --------------- FOOTER ----------------- */

.footer {
    background-color: #151515;
    height: 15%;
}

.footer p {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 0.9em;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}



/*--------------- NAVIGATION -----------------*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    margin-right: 1%;
}

nav li {
    float: right;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*------------- Highlight borderBehind ------------*/

div.borderbehind a:before {
    position: absolute;
    top: 19px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #202020;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
    border-radius: 5%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.borderbehind a:hover:before {
    opacity: 1;
    width: 200%;
}

div.container {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    margin: 0 auto;
    padding: 0.2em 0.2em;
    text-align: center;

}

div.container a {
    color: #202020;
    text-decoration: none;
    font: 1em Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.projects .projects-margin {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

/*------------- Projekt test------------*/

/* Portfolio */

.portfolio .portfolio-margin {
    position: relative;
    width: 900px;
    overflow: hidden;
    margin: 0 auto;
}

.portfolio .portfolio-margin .read-more {
    width: 183px;
    height: 47px;
    position: relative;
    margin: 50px auto 100px;
    line-height: 47px;
    border: 1px solid #333333;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    background: none;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    letter-spacing: 1px;
}

.portfolio .portfolio-margin .read-more:hover {
    background: #ada074;
    color: white;
    border: 1px solid #e49f37;
}

.portfolio .portfolio-margin h1 {
    font-size: 34px;
    color: black;
    text-align: center;
    margin-top: 120px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.portfolio .portfolio-margin hr {
    color: black;
    margin-top: 30px;
    background-color: black;
    height: 1px;
    width: 106px;
    border: 0;
}




/* Portfolio grid */

.portfolio-margin {
    margin-left: 3.5%;
    width: 95%;
    position: relative;
    overflow: hidden;
}

.grid {
    margin-top: 70px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    overflow: hidden;
}

.grid li {
    width: 285px;
    margin: 0 15px 15px 0;
    float: left;
    position: relative;
    overflow: hidden;
}

.grid img {
    width: 285px;
    float: left;
    position: relative;
}

.grid .text {
    position: absolute;
    width: 285px;
    height: 100%;
    background: #e49f37;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.grid .text:hover {
    opacity: 1;
}

.grid .no-text {
    position: absolute;
    width: 285px;
    height: 100%;
    background: #e49f37;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.grid .no-text:hover {
    opacity: 1;
}

.grid p {
    font-size: 18px;
    text-align: center;
    line-height: 26px;
    margin-top: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFF;
}

.grid p.description {
    font-size: 12px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    color: #FFF;
    position: relative;
}

.clear {
    clear: both;
}
